# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mongodb+srv://testchatapp:testchatapp@cluster0.fbqr7ca.mongodb.net/chatapp?retryWrites=true&w=majority"
NEXTAUTH_SECRET="verylongsecretkey"

NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_PUSHER_APP_KEY="228c0f56e8fde19d9b81"
NEXT_PUBLIC_PUSHER_CLUSTER="ap1"
PUSHER_APP_ID="1190117"
PUSHER_SECRET="b84afd2b92335cf033bb"

NEXT_PUBLIC_PUSHER_BEAMS_INSTANCE_ID="427ccf0e-18c2-4ffd-8479-91d9812d6af4"
PUSHER_BEAMS_SECRET_KEY="097637F8F7F7FD544331BCE31CDFBE038ACA043CAC25510EAC3080CE4EE58EB8"


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="freenull-club"
NEXT_PUBLIC_CLOUDINARY_API_KEY="353426989942154"
CLOUDINARY_API_SECRET="ywgqj4FcEwTZVyFOVWCLxEHo2po"

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_CLIENT_ID="926370320338-mci6cvadq67flm39sh2bru4kvt394kn4.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

# AWS S3
AWS_BUCKET_NAME="kenmama-dev"
AWS_REGION="hn"
AWS_ACCESS_KEY_ID="4T1R995IWAOFCDIS1YE2"
AWS_SECRET_ACCESS_KEY="32fP2mD45VVjgn2VRKBwdVOXOYdWCMZo7QpGFjlj"
AWS_ENDPOINT="https://hn.ss.bfcplatform.vn"
